<top-nav on-close="closeWindow()"></top-nav>

<section id="login">
    <form role="form">
        <div class="form-group">
            <label for="loginHostName">Hostname</label>
            <input type="text" class="form-control" id="loginHostName">
        </div>
        <div class="form-group">
            <label for="loginUserName">Username</label>
            <input type="text" class="form-control" id="loginUserName">
        </div>
        <div class="form-group">
            <label for="loginPassword">Password</label>
            <input type="password" class="form-control" id="loginPassword">
        </div>
        <button type="submit" class="btn btn-default">Login</button>
    </form>
</section>
